*{
    margin: 0;
    padding: 0;
}

.letter{
    position: relative;
    width: 308px;
    height: 516px;
    background: #fff6dd;
}

.vertical-stroke {
    width: 30px;
    height: 400px;
    position: absolute;
    top: 60px;
    left: 28px;
    background: transparent;
    border-right: 1px dashed red;
    border-left: 1px dashed red;
}

.rounds{
    position: absolute;
    width: 220px;
    left: 40px;
    top: 60px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px dashed red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*circles nested within circles*/
.circle .circle{ 
    width: 140px;
    height: 140px;
}

.bottom{
    margin-top: -20px;
}

.rounds > .circle{
    animation: turn 6s linear infinite;
}


@keyframes turn{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


